@charset "utf-8";
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-width: 1280px;
}

#head {
	text-align: center;
	background-image: url(image/图层1.png);
	background-size: cover;
	background-color: rgba(0,0,0,0.1);
	color: white;
	width: 100%;
	height: 995px;
	padding-bottom: 0px;
}

h1 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding-top: 200px;
	margin-bottom: 0px;
	font-size: 62px;
}

.china {
	width: 53%;
	margin: 0 auto;
	padding-top: 40px;
	font-size: 20px;
	line-height: 32px;
}

.account {
	border: solid 1px white;
	border-radius: 5px;
	width: 969px;
	margin-top: 130px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.creat{
	font-size: 16px;
	line-height: 28px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}

.it {
	font-size: 12px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}

.input {
	margin-top: 50px;
	margin-bottom: 50px;
}

input {
	width: 293px;
	height: 49px;
	border: solid 0.5px gray;
	border-radius: 5px;
	margin-left: 23px;
	background-color: transparent;
	font-size: 14px;
	line-height: 26px;
}

input[name="email"] {
	color: white;
}

input[type="submit"] {
	width: 126px;
	height: 53px;
	background-color: aliceblue;
}

/*head finished*/
#section {
	width: 100%;
	height: 710px;
	text-align: center;
	padding-top: 0px;
}

h3 {
	font-size: 14px;
	line-height: 28px;
	font-weight: 300;
	padding-top: 70px;
	margin-bottom: 40px;
}

.ready {
	font-size: 42px;
	line-height: 52px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
}

.icon {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	overflow: hidden;
}

.mobile,
.access,
.fluid,
.custom {
	flex: 1 250px;
	height: 86px;
	width: 450px;
	float: left;
	margin-bottom: 100px;
	margin-right: 130px;
	margin-left: 130px;
}

#section img {
	float: left;
	margin-right: 30px;
	margin-bottom: 120px;
}

#section h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	line-height: 32px;
}

#p {
	text-align: left;
}

#p p {
	font-size: 16px;
	line-height: 26px;
}
/*section finished*/
#banner {
	background-image: url(image/图层2.png);
	width: 100%;
	background-size: cover;
	height: 800px;
	position: relative;
}

.support {
	position: absolute;
	width: 370px;
	left: 300px;
	top: 90px;
	color: white;
}

.support h3 {
	font-size: 42px;
	line-height: 52px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

.support p {
	font-size: 18px;
	line-height: 28px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}

.twobtns {
	position: absolute;
	bottom: 200px;
	left: 300px;
}

.twobtns button {
	width: 240px;
	height: 60px;
	border: solid 1px white;
	border-radius: 5px;
	word-spacing: 8px;
}

button[name="check"] {
	background-color: white;
	font-size: 12px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

button[name="try"] {
	background-color: transparent;
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 12px;
}

.ipad {
	float: right;
}

img[alt="ipad"] {
	position: absolute;
	right: 0;
	top: 90px;
}

img[alt="screen"] {
	position: absolute;
	right: 0;
	top: 120px;
}
/*banner finished*/
#try {
	height: 580px;
	border-bottom: solid 1px gray;
	width: 100%;
}

.threeart {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}

#try h3 {
	text-align: center;
	font-size: 42px;
	line-height: 52px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-bottom: 100px;
}

.sing,
.hero,
.port {
	margin-left: 30px;
	margin-right: 30px;
	flex: 1 100px;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	height: 50px;
}

.sing img,
.hero img,
.port img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border-bottom: solid 2px gray;
}
/*finished try*/
#twoimgs {
	width: 100%;
	margin-top: 110px;
}

.part1,
.part2 {
	width: 60%;
	position: relative;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

.pic1 {
	float: right;
	width: 300px;
	margin-top: 20px;
}

.pic2 {
	float: left;
	width: 300px;
	margin-top: 20px;
}

.part2 img {
	float: right;
}

#twoimgs h4 {
	font-size: 20px;
	line-height: 32px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

#twoimgs p {
	font-size: 16px;
	line-height: 28px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
/*finished twoimgs*/
#oac {
	width: 100%;
	text-align: center;
	position: relative;
	height: 1000px;
}

#oac h3 {
	font-size: 42px;
	line-height: 52px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}

#oac .title{
	font-size: 18px;
	line-height: 28px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}


.humans {
	box-sizing: border-box;
	width: 970px;
	margin: 0 auto;
}

.humans img {
	display: inline-block;

}

.mansmargin {
	margin-top: 50px;
	margin-bottom: 25px;
}

.mansleft {
	margin-right: 25px;
}

.ethan {
	width: 470px;
	height: 340px;
	background-color: #202020;
	position: absolute;
	box-sizing: border-box;
	padding-top: 90px;
	left: 289px;
	top: 286px;
	color: white;
	opacity: 0;
	z-index: 2;
	transition: opacity 0.8s;
}

.ethan:hover {
	opacity: 0.8;
}

.ethan h4 {
	font-size: 20px;
	line-height: 32px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}

.ethan p {
	font-size: 12px;
	line-height: 28px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}