@charset "utf-8";
/* CSS Document */
#head {
	text-align: center;
	background-image: url(image/background2.jpg);
	background-size: cover;
	background-color: rgba(0,0,0,0.1);
	opacity: 0.8;
	color: white;
	width: 100%;
	height: 995px;
}

h1 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding-top: 200px;
	margin-bottom: 0px;
	font-size: 62px;
}

.china {
	width: 53%;
	margin: 0 auto;
	padding-top: 40px;
	font-size: 20px;
	line-height: 32px;
}

.account {
	border: solid 1px white;
	width: 969px;
	margin-top: 130px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.creat{
	font-size: 16px;
	line-height: 28px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}

.it {
	font-size: 12px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}

.input {
	margin-top: 50px;
	margin-bottom: 50px;
}

input {
	width: 293px;
	height: 49px;
	border: solid 0.5px gray;
	border-radius: 5px;
}

input[type="submit"] {
	width: 126px;
	height: 53px;
}
/*head finished*/